/*------------ Colors ------------*/
$base-color1:        #d3eab6;
$base-color2:        #a6bd89;

$color-button1:      #abd275;

$color-text1:         #2c2c2c;
$color-text2:         #a3a3a3;
$color-text3:         #a1d252;

$gray1:               #f5f5f5;
$gray2:               #f0f0f0;
$gray3:               #bbb;

$red1:                #f00;

$white:               #fff;

/*------------ Dimensions ------------*/
$h-tabs:             54px;
$w-border-tab:       4px;

/*------------ Media screen ------------*/
$w-xs:               max-width 575px;
